#sp
{
	color:blue;
}
h1
{
	color:red;
}

.cent
{
	color:blue;
	  font-style: italic;
	background-color:yellow;
	font-size:20px;
}

#maneno
{
	background-color:green;
	margin-left:10em;
	margin-right:10em;
	text-align:center;
}


body

{
       back ground color :yellow
       font stylE : italic
}